<script server>
    const { formatDateTime, getImageUrl } = resolve('../../utils/common')
</script>

<div class="hero bg-base-100 py-12 flex flex-col">
    <div class="hero-content flex-col gap-12 max-w-9xl">
        <div class="flex-col xl:flex-row gap-12 max-w-9xl"></div>
        <!-- Blog Image -->
        <img
            src="<%= getImageUrl(singleBlog) %>"
            class="max-w-2xl rounded-lg shadow-lg object-cover"
            alt="<%= singleBlog.title %> image"
        />

        <!-- Blog Content -->
        <div
            class="prose lg:prose-xl max-w-none flex flex-col self-start xl:mt-24"
        >
            <h1
                class="mb-4 font-extrabold text-4xl sm:text-5xl lg:text-6xl leading-tight"
            >
                <%= singleBlog.title %>
            </h1>
            <!-- Meta Info -->
            <div class="flex items-center gap-4 text-sm text-base-content/70">
                <div
                    class="flex flex-col sm:flex-row sm:justify-between w-full"
                >
                    <span>Written by <strong>Justin K</strong></span>
                    <span
                        ><%= formatDateTime(new Date(singleBlog.created))
                        %></span
                    >
                </div>
            </div>
            <p class="text-base-content/80 mb-6 min-w-80">
                <%- singleBlog.content1 %>
            </p>
        </div>
        <div class="">
            <p class="text-base-content/80 mb-6 gap-12">
                <%- singleBlog.content2 %>
            </p>
        </div>
    </div>
</div>
